<h1 mat-dialog-title class="text-center">Athens Municipal Plant Nursery</h1>
<mat-tab-group>
  <mat-tab label="Video"
    ><iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/B6m7JLbRJUQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe
  ></mat-tab>
  <mat-tab label="Weather">
    <uwmh-weatherbit-info></uwmh-weatherbit-info>
  </mat-tab>

  <mat-tab label="PLC Data">
    <uwmh-plant-nursery-plc></uwmh-plant-nursery-plc>
  </mat-tab>
</mat-tab-group>
